body {
    padding:0px;
    margin:0px;
    background-color:#eaeaea;
}

.container {
  width:80%;
  max-width: 1100px;
  margin: 0 auto;
  overflow:hidden;  
}

ul {
    margin:0;
    padding:0;
}

.button_1 {
    height:38px;
    background:#e8491d;
    border:0;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    color:floralwhite;
    font-size: 16px;
}

.dark {
    background:#35424a;
    color: floralwhite; 
}

.header-link {
    text-decoration: none;
}

header {
    background:#35424a;
    color:#e8491d;
    padding-top:10px;
    height: 150px;
    border-bottom:#e8491d 3px solid;
}

header h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.banner {
    font-size: 79px;
    color:#e8491d;
    font-weight: lighter;
    padding-bottom: 0;
}

.firefly-img {
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 27px;
}

header .firefly-header {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: floralwhite;
    font-weight: lighter;
    padding-right: 70px;
    margin-top: -5px;
}

#hamburger {
    margin: 0;
    padding-left: 10px;
}

#mobile-nav-links a {
    color: floralwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    padding: 5px;
}

.nav-bar {
    font: 50px/1.5 sans-serif, Helvetica, sans-serif;
    width:100%;
    box-shadow: 0 3px 3px #535353;
    background-color: rgb(102, 125, 148);
    height: 50px; 
}

.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
}

.nav-bar li {  
    padding: 5px 40px;
    list-style: none;
}

.nav-bar a {
    display: flex;
    justify-content: center; 
    color:floralwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
    padding:5px;
}

.nav-bar .current a { 
    font-weight: bold;
}

.nav-bar a:hover {
    color: #e8491d;
    transition: all 0.4s ease;
}

#showcase {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 450px;
    margin: 50px auto;
}

#showcase > * {
    width: 100%;
    max-height: 450px;
}

#showcase img {
    display: block;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 3px 3px #030116;
    max-height: 450px;
}

.showcase-text {
    display: flex;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

.showcase-image {
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.our-advantage {
    flex-wrap: wrap;
    color: #e8491d;
}

.slogan {
    flex-wrap: wrap;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 30px;
    width: 1100px;
    margin: 0 auto;
    background-color:#35424a;
    color:floralwhite
} 

#boxes {
    display: flex;
    justify-content: center;
    margin: 20px auto; 
}

#boxes .container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
}

#boxes img {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: floralwhite;  
    width:  265px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    border: rgb(255, 255, 255) 1px solid;
}

#boxes a {
    text-decoration: none;
    color: black;
    justify-content: space-between;
    border-radius: 10px;
}

#boxes h3 {
    display: flex;
    justify-content: center;
    width: 263px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    padding: 12px 0;
    background-color: rgb(102, 125, 148);
    color:floralwhite;
    text-transform: uppercase;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 24px;
    font-weight: 350;   
}

#boxes h3:hover {
    background-color: #e8491d;
    font-weight: bold;
}

section#welcome {
    border-radius: 5px;
    max-width: 700px;
    max-height: 340px;
}

#welcome h2 {
    display: flex;
    justify-content: flex-start;
    font-size:35px;
    font-family: sans-serif, Arial, Helvetica;
    color: #35424a;
    margin: 25px 0px 0px 0px;
}

#welcome p {
    display: flex;
    justify-content: center;
    font: 24px/1.5 Arial, Helvetica, sans-serif;
    color: #35424a;
    padding: 10px 50px 40px 0;
    border-bottom: 1px #cccccc solid;
}

/* welcome message and quote form*/
.home-content-flex-container {
    display: flex; 
    justify-content: space-between;
    margin: 0 auto;
}

/* .helfpul-links-container {
    background-color: #ffffff;
} */

/*quote form */
#sidebar {
    flex-basis: 300px;
    font-family: sans-serif, Arial, Helvetica;
    padding-top: 30px;  
}

#sidebar .dark {
    border-radius: 10px 10px 10px 10px;
    padding: 0 15px;
    width: 300px;
}

#sidebar h2 {
    display: flex;
    font-size: 25px;
    justify-content: center;
    color: #e8491d;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 1px floralwhite solid;
}

#sidebar label {
    padding: 10px 0;
    font-size: 20px;
}

#sidebar div {
    margin-bottom: 20px;
    margin-left:8px;
}

.quote {
    font: 20px;
    padding: 0 15px 15px 15px;
}

#sidebar input,
#sidebar select,
#sidebar textarea {
    font-size: 16px;
}

#sidebar input {
    padding: 7px;
    margin-top: 1px;
    width: 90%;
}

#sidebar select {
    padding: 7px;
    width: 97%;
    margin-top: 1px;
}

#sidebar textarea {
    width: 88%;
    padding: 12px;
}

#sidebar .button_1 {
    margin: 18px auto 5px auto; 
    display: block;
}

ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: e6e6e6;
}

footer {
    padding: 40px;
    margin-top:300px;
    color:rgb(255, 250, 240);
    background-color:rgb(27, 31, 37);
    text-align: center;
}

.social-icons {
    margin: 20px;
    font-size: 30px;
}

.social-icons a {   
    color: inherit;
    text-decoration: none;
    margin: 0 20px;
}

.mobile-nav-bar {
    display: none;
}

.large-screen-nav-bar {
    display: block;
}

.social-icons i {
    background-color: grey;
}







/* @media (max-width: 1374px) {
    .banner {
        font-size: 69px;
    }
} */

/*fix our advantage */
/* @media (max-width: 1280px) {
    #showcase {
        display: flex;
        flex-direction: column;
        font-family: sans-serif, Arial, Helvetica;
        font-size: 25px;
        padding-left: 50px;
        margin-bottom: 20px;
    }
} */

@media (max-width: 450px) {
    .mobile-nav-bar {
        display: block;
        font: 50px/1.5 sans-serif, Helvetica, sans-serif;
        width:100%;
        box-shadow: 0 3px 3px #535353;
        background-color: rgb(102, 125, 148);
        min-height: 50px;
        border-bottom:#e8491d 3px solid;
    }

    .hide {
        display: none;
    }

    .large-screen-nav-bar {
        display: none;
    }

    header {
        display: none;
    }

    header {
        font-size: 30px;
        text-align: center;
        padding-right: 0;
    }
}




    /* #showcase {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 800px;
    } */
    
    /* #boxes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } */














