/*universal selectors*/
html {
    height: 100%;
}
body {
    margin: 0 auto;
    background-color: #F5F5F5;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.contact-container {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 35px;
    background: #fdbf34;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
    font-weight: 500;
    border-radius: 10px;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 21px;
    color: #35424a;
}

.button_1:focus { 
    outline: none; 
}

.dark {
    background:#35424a;
    color: floralwhite;
}

/*header*/
header {
    background:#35424a;
    height: 160px;
    border-bottom: #fdbf34 3px solid;
}

header h1 {
    display: flex;
    justify-content: center;
    margin: 0;
}

.banner {
    color: #F5F5F5;
    font-family: 'Bree Serif', serif;
    font-size: 70px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 2px;
    padding-top: 30px;
    text-transform: uppercase;
    /* text-shadow: 2px 2px rgb(102, 125, 148); */
}

.firefly-img {
    margin: 0 auto;
    padding: 60px 20px 0 29px;
}

.firefly-header {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #ccc;
    padding-right: 110px;
}

/*mobile styles*/
.firefly-header-phone {
    display: none;
}
#mobile-nav-links li {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
}

#mobile-nav-links a {
    color: floralwhite;
    text-transform: uppercase;
    font-size: 24px;
    transition: all .3s ease-in;
    padding: 10px;
    border-radius: 10px;
}

.mobile-nav-bar {
    display: none;
    border-bottom: #fdbf34 3px solid;
}
    
#hamburger-menu {
    margin: 18px 0 10px  18px;
    cursor: pointer;
}

#hamburger-menu > div {
    width: 34px;
    height: 3px;
    background-color: #fdd834;
    margin: 6px 0;
}

/*nav-bar*/
.large-screen-nav-bar {
    display: block;
}

.nav-bar {
    font: 50px/1.5 'Times New Roman', Times, serif;
    width:100%;
    box-shadow: 0 2px 2px #535353;
    background-color: rgb(90, 120, 151)
}

.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
}

.nav-bar a {
    display: flex;
    color:floralwhite;
    text-transform: uppercase;
    font-size: 23px;
    padding: 5px;
}

.nav-bar .current a { 
    font-weight: bold;
}

.nav-bar a:hover {
    color: #fdbf34;
    /* transition: all 0.4s ease-in; */
}

/*showcase*/
#showcase {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 40px;
    margin: 40px auto;
}

#showcase img {
    /* height: 100%; */
    max-width: 100%;
    border-radius: 10px;
}

.showcase-text {
    outline: 1px dashed #fff;
    outline-offset: -10px;
    background-color: #35424a;
    color: #F5F5F5;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h5 {
    font-size: 31px;
    font-weight: 900;
    margin: 50px 70px 30px 70px;
    line-height: 1.5;
    color: floralwhite;
}

/*4 insurance pics*/
.home-content-grid-container {
    display: grid;
    grid-template-areas: 
        "a a a a"
        "b b c c";
    grid-row-gap: 40px;
    margin-bottom: 100px;
}

#boxes {
    grid-area: a;
    display: flex; 
}

.box-container {
    padding-right: 33px;
    opacity: .9;
}

.box-container:hover {
    opacity:1;
}

#boxes img {
    box-sizing: border-box;
    display: flex;
    width:  250px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    border: 1px rgb(102, 125, 148) solid;
}

#boxes h3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0 0 10px 10px;
    padding: 8px;
    background-color: rgb(90, 120, 151);
    color:floralwhite;
    font-size: 26px;
    letter-spacing: 2px;
    box-shadow: 0 2px 2px #535353;
}

#boxes a {
    border-radius: 10px;
}

#boxes h3:hover {
    background-color: #ce9a2b;;;
    font-weight: bold;
    transition: all 0.4s ease-in;
    box-shadow: 0 2px 2px #7c5d1a;
}

/*welcome section*/
#welcome {
    grid-area: b;
    max-width: 610px;
    margin-right: 100px;
    padding-top: 18px;
    padding-right: 50px;
}

#welcome h2 {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    margin: 0 auto;
    font-size:35px;
    font-weight: 500;
    font-style: italic;
}

.welcome-knecht {
    padding-left: 12px;
    font-weight: 800;
}

#welcome p {
    text-align: center;
    font: 24px/1.5 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    margin-bottom: 0;
    border-bottom: 1px #ccc solid;
}

/*quote form */
#sidebar {
    grid-area: c;
    justify-self: start;
}

#sidebar .dark {
    border-radius: 10px;
    padding: 25px 45px 17px 45px;
    width: 258px;
}

#sidebar h2 {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto 10px auto;
    padding-bottom: 8px;
    font-size: 35px;
    color: #fdbf34;
    border-bottom: 1px #fefff04f solid;
    text-shadow: 2px 2px #000;
}

#sidebar label {
    font-size: 20px;
}

#sidebar input {
    padding: 7px;
    margin: 4px auto 20px auto;
    width: 93%;
}

#sidebar select {
    padding: 7px;
    width: 100%;
    margin: 4px auto 20px auto;
}

#sidebar textarea {
    width: 90%;
    padding: 12px;
    margin: 4px auto 0 auto;
}

#success-button {
    margin: 18px auto 5px auto; 
    display: block;
    cursor: pointer !important;
}

#success-message {
    text-align: center;
}

#sidebar .button_1:hover {
    background-color: #fcc650;
} 

#email-form input,
#email-form select,
#email-form textarea {
    border-radius: 4px;
    border-color: transparent;
}

/*footer*/
footer {
    color:rgb(255, 250, 240);
    background-color:rgb(27, 31, 37);
    text-align: center;
    /* margin-top: 60px; */
    margin-top: auto;
    border-top: #fdbf34 3px solid;
}

.footer-firefly {
    padding: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    border-top: 1px solid #9B9B9B;
    border-bottom: 1px solid #9B9B9B;
    font-size: 30px;
    margin-bottom: 15px;
}

.social-icons a {
    color: inherit;
    margin: 15px;
}

.footer-contact-wrap a {
    color: floralwhite;
}

.img-map {
    padding: 15px;
}

.hidden {
    display: none !important;
}

.phone-show {
    display: none;
}

.phone-hide {
    display: block;
}

/*  Secondary Page Styles  */
#secondary-page-container > * {
    margin-left: auto;
    margin-right: auto;
}
.secondary-paragraph {
    margin: 0; 
}
#scroll-image-p {
    margin-top: 15px;
}
#secondary-page-container > .title {
    color: rgb(27, 31, 37);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    border: 1px solid rgb(27, 31, 37);;
    max-width: 327px;
}
#secondary-page-container > .title .auto-second {
    color: rgb(90, 120, 151);
    font-style: italic;
    padding-right: 9px;
}

#secondary-page-container > #sidebar {
    margin-bottom: 40px;
}

.secondary-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-height: 320px;
    overflow-y: hidden;
}

.secondary-page-content > img {
    border-radius: 10px 0 0 10px;
    max-width: 320px;
    min-width: 320px;
    height: 319px;
    border: 1px solid rgb(27, 31, 37);
}

.secondary-page-content > .text {
    max-width: 550px;
    font-size: 26px;
    text-align: center;
    line-height: 2;
    border-radius: 0 10px 10px 0;
    padding: 25px;
    outline-offset: -10px;
    background-color:#35424a;
    color:#F5F5F5;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: 270px;
}

/* Contact Page Styles */
.contact-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    align-items: flex-end;
}

.contact-container h3 {
    display: inline-block;
    color:rgb(27, 31, 37);
}

.contact-container p {
    padding-bottom: 10px;
    border-bottom: 1px #ccc solid;
    margin-top: 0;
}

.contact-content {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding-right: 40px;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-style: italic;
    text-decoration: underline;
    color:rgb(27, 31, 37);
}

.contact-container img {
    margin-left: 40px;
    padding-bottom: 16px;
    border-radius: 140px;
    color: rgb(90, 120, 151);
}

@media (max-width: 1340px) {
    .home-content-grid-container {
        grid-template-areas: 
            "a a a a c c c"
            "b b b b b b b";
    }
    .box-container {
        padding: 0;
    }
    #boxes {
        display: grid;
        grid-template: 290px 200px / 315px 315px;
        margin-right: auto;
        margin-left: auto;
        justify-items: center;
    }
    #boxes img {
        width: 280px;
    }
    #sidebar .dark {
        height: 495px;
        width: 270px;
    }
    #welcome {
        margin: 0 auto;
        padding-right: 0;
    }
    #email-form textarea {
        margin-bottom: 25px;
    }
}

@media (max-width: 1165px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
    #email-form-container {
        height: 455px;
    }
    #email-form textarea {
        margin-bottom: 0;
    }
    #sidebar .dark {
        width: 231px;
        height: 448px;
    }
    #showcase {
        grid-template-rows: 450px 130px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "picture"
            "text";
    }
    .showcase-image {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        grid-area: picture;
    }
    .showcase-text {
        outline: none;
        outline-offset: none;
        border-radius: 0 0 10px 10px;
        grid-area: text;
        border-top:#fdbf34 2px solid;
    }
    .showcase-text h5 {
        font-size: 30px;
        font-weight: 500;
        line-height: 1;
        margin: 25px auto;
        margin-bottom: 10px;
    }
    #boxes {
        display: grid;
        grid-template: 262px 262px / 270px 280px;
    }
    #boxes img {
        width:  246px;
        height: 180px;
        border-radius: 10px 10px 0 0;
    }
    #boxes h3 {
        width: 230px;
        margin: 0; 
    }
    .box-container {
        width: 180px;
    }
    .secondary-page-content > .text {
        font-size: 23px;
    } 
}

@media (max-width: 1000px) {
    .banner {
        font-size: 60px;
    }
    .box-container {
        width: 252px;
    }
    #boxes {
        grid-template: 250px 260px / 280px 250px;
    }
    .firefly-header {
        padding-right: 100px;
    }
    .firefly-img {
        padding-top: 54px;
    }
    #sidebar .dark {
        width: 225px;
        height: 437px;
    }
    .wood-background > .dark {
        margin-left: 44px;
    }
    #sidebar h2 {
        font-size: 30px;
    }
}

@media (max-width: 930px) {
    .container {
        max-width: 930px;
    }
    .nav-bar {
        box-shadow: none;
    }
    .nav-bar ul {
        border-bottom: #fdbf34 3px solid;
    }
    #showcase {
        width: 100vw;
        border-radius: 0;
        margin: 0 0 20px 0;
    }
    #showcase > .showcase-image > img {
        border-radius: 0;
    }
    .showcase-image {
        border-radius: 0;
    }
    .showcase-text {
        border-radius: 0;
    }
    .wood-background > .dark {
        margin-left: 0;
    }
    #welcome {
        padding-top: 0;
    }
    /* secondary pages */
    .secondary-page-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-items: center;
        max-height: none;
    }
    .secondary-page-content > img {
        border-radius: 10px;
        border: 1px solid #000;
        max-width: none;
    }
    .secondary-page-content > .text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-align: center;
        line-height: 1.5;
        border-radius: 10px;
        margin-top: 30px;
        max-width: 374px;
    }
}

@media (max-width: 875px) {
    .home-content-grid-container {
        display: grid;
        grid-template-areas: 
            "a a a a"
            "a a a a"
            "b b b b" 
            "c c c c";
            margin-bottom: 0;
    }
    #boxes {
        justify-content: center;
        display: grid;
        grid-template: 330px 330px / 340px 340px;
    }
    .box-container {
        width: 303px;
        padding-top: 20px;
        opacity: 1;
    }
    #boxes h3 {
        width: 304px;
    }
    #boxes img {
        width: 320px;
        height: 255px;
    }
    .secondary-page-content > .text {
        border-radius: 30px;
    }
    .secondary-page-content > img {
        border-radius: 30px;
    }
    #sidebar {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wood-background {
        background-image: url(../img/wood.jpg);
        height: 900px;
    }
    .wood-background > .dark {
        box-shadow: -15px 0 15px 10px #0e0e0e;
    }
    #sidebar .dark {
        margin-left: auto;
        margin-right: auto;
        border: #fdbf34 1px solid;
        border-radius: 30px;
    }
    #welcome {
        padding-top: 0;
        padding-right: 0;
    }
    #showcase > .showcase-image > img, #showcase > .showcase-text {
        width: 100%;
        margin: 0;
        height: 100%;
        border-radius: 0;
    }
    #showcase img {
        border-radius: 0;
    }
    .showcase-text h5 {
        font-size: 28px;
        margin-bottom: 15px;
    }
}

/*ipad mini size*/
@media (max-width: 768px) {
    .banner {
        font-size: 55px;
        padding-top: 25px;
    }
    .box-container {
        width: 320px;
    }
    .firefly-img {
        height: 45px;
        width: 60px;
        padding: 40px 20px 0 30px;
    }
    header .firefly-header {
        justify-content: center;
        font-size: 15px;
        color: floralwhite;
        padding-right: 96px;
        margin-top: -5px;
    }
    header {
        padding-bottom: 45px;
        height: 75px;
    }
    .home-content-grid-container {
        padding-top: 25px;
    }
    #showcase {
        margin: 0 auto;
    }
}

@media (max-width: 685px) {
    .banner {
        font-size: 48px;
        padding-top: 25px;
    }
    #boxes {
        display: grid;
        grid-template: 275px 275px / 343px 215px;
    }
    .box-container {
        width: 327px;
    }
    #boxes img {
        width:  260px;
        height: 200px;
        border-radius: 10px 10px 0 0;
    }
    #boxes h3 {
        width: 244px;
    }
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-content {
        padding-right: 0;
    }
    .contact-container img {
        margin-left: 0;
    }
    header {
        height: 65px;
    }
    header .firefly-header {
        justify-items: center;
        font-size: 12px;
        color: floralwhite;
        padding-right: 80px;
        margin-top: -3px;
    }
    .firefly-img {
        height: 35px;
        width: 50px;
    }
    .showcase-text {
        height: 50%;
    }
    .showcase-text h5 {
        font-size: 24px;
        margin: 25px 0 10px 0;
    }
    .scroll-image {
        width: auto;
    }
}

@media (max-width: 635px) {
    .banner {
        font-size: 45px;
        padding-top: 24px;
    }
    .firefly-img {
        padding: 40px 12px 0 15px;
    }
    #welcome {
        max-width: 450px;
    }
    .secondary-page-content > .text {
        line-height: 2;
        height: inherit;
        max-width: 272px;
    }
}

@media (max-width: 600px) {
    .banner {
        font-size: 40px;
    }
    header .firefly-header {
        justify-items: center;
        font-size: 12px;
        color: floralwhite;
        padding-right: 66px;
        margin-top: -3px;
    } 
    .firefly-img {
        height: 30px;
        width: 45px;
    }
    .nav-bar a {
        font-size: 19px;
    }
    .showcase-text h5 {
        font-size: 22px;
        margin-top: 30px;
    }
}

/*mobile sizes */
@media (max-width: 550px) {
    .auto-box {
        grid-area: box1;
    }
    #boxes {
        grid-template-rows: 1fr 1fr 1fr 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "box1"
            "box2"
            "box3"
            "box4"
            "welcome"
            "quote";
    }
    #boxes img {
        width:  100vw;
        height: 344px;
        border-radius: 0;
    }
    #boxes h3 {
        width: 100vw;
        margin: 0; 
        border-radius: 0;
        border-top: #fdbf34 3px solid;
        border-bottom: #fdbf34 3px solid;
    }
    .box-container {
        width: 100vw;
        padding-top: 0;
    }
    #boxes h3 {
        box-shadow: none;
    }
    #boxes img {
        border: none;
    }
    .business-box {
        grid-area: box3;
    }
    .contact-container {
        margin-top: 0;
    }
    .contact {
        margin-top: 100px;
    }
    .firefly-header-phone {
        display: flex;
        justify-content: center;
        color: #ccc;
        padding-bottom: 15px;
    }
    .footer-firefly {
        padding: 15px 0 0 0;
    }
    .firefly-mobile-img {
        height: 30px;
        width: 45px;
        position: absolute;
        top: 9px;
        right: 18px;
    }
    .mobile-nav-bar {
        display: block;
        font: 50px/1.5 sans-serif, Helvetica, sans-serif;
        width: 100vw;
        height: 60px;
        background-color: rgb(27, 31, 37);
        position: fixed;
        top: 0;
        z-index: 1;
        overflow: hidden;
        transition: height .5s ease;
        margin: 0;
        padding-right: 30px;
    }
    .mobile-nav-bar .mobile-header {
        color: floralwhite;
    }
    .mobile-header {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        font-weight: 600;
        font-style: italic;
        text-transform: uppercase;
        color: #2b353b;
        padding-right: 90px;
    }
    .mobile-header > span {
        font-size: 30px;
        font-weight: 800;
    }
    .mobile-header-container {
        box-sizing: border-box;
        position: absolute;
        top: 7px;
        left: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        padding-right: 10px;
    }
    .mobile-nav-bar.open {
        height: 300px;
        transition: height .9s ease;
    }
    .phone-show {
        display: block;
    }
    .phone-hide {
        display: none;
    }
    .phone-welcome {
        margin: 0;
        padding-top: 60px !important;
        max-width: 100vw !important;
        border-bottom: #fdbf34 3px solid
    }
    .phone-welcome .welcome-knecht {
        display: none;
        padding-top: 0;
        padding-bottom: 6px;
        margin: -4px auto 0 auto;
        font-size: 33px;
    }
    .phone-welcome p {
        font-size: 22px;
        line-height: 1.8 !important;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    header, 
    .scroll-image,
    .large-screen-nav-bar,
    .hide {
        display: none;
    }
    .home-content-grid-container {
        display: grid;
        grid-template-areas: 
            "a"
            "a"
            "a"
            "a"
            "c"
            "c"
            "c";
            padding-top: 0;
    }
    .home-box {
        grid-area: box2;
    }
    .life-box {
        grid-area: box4;
    }
    #secondary-page-container > .title {
        margin-top: 110px;
    }
    .secondary-page-content > .text {
        border-radius: none;
    }
    .wood-background > .dark {
        height: 580px;
    }
    #sidebar .dark {
        grid-area: quote;
    }
    #showcase {
        display: none;
    }
    #welcome .container {
        grid-area: welcome;
    }
    #welcome p {
        border-bottom: none;
    }
}

@media (max-width: 475px) {
    .firefly-mobile-img {
        top: 6px;
    }
    .footer-contact-wrap {
        font-size: 15px;
    }
    .mobile-header {
        font-size: 26px;
    }
    .mobile-header > span {
        font-size: 26px;
    }
    .mobile-header-container {
        top: 10px
    }
    .phone-welcome {
        max-height: 350px;
    }
    #sidebar .dark {
        width: 190px;
        box-shadow: none;
    }
    #secondary-page-container > .title {
        margin-bottom: 0;
    }
    .secondary-page-content {
        grid-gap: 0;
    }
    .secondary-page-content > img {
        height: 357px;
        border-radius: 0;
    }
    .secondary-page-content > .text {
        max-width: 425px;
        border-radius: 0;
        margin-top: 0;
        border-top: 1px solid #fdd834;
        border-bottom: 1px solid #fdd834;
        font-size: 20px;
    }
}

@media (max-width: 433px) {
    .firefly-mobile-img {
        top: 0;
    }
    .mobile-header {
        font-size: 22px;
        margin-top: -3px;
        padding-right: 80px;
    }
    .mobile-header > span {
        font-size: 22px;
    }
    .mobile-header-container {
        top: 15px
    }
    #welcome {
        max-width: 400px;
    }
    #welcome h2 {
        font-size: 20px;
    }
    #welcome p {
        font-size: 18px;
    }

}

@media (max-width: 385px) {
    #boxes img {
        height: 290px;
    }
    .mobile-header {
        font-size: 19px;
        margin-top: 0;
        padding-right: 65px;
    }
    .mobile-header > span {
        font-size: 19px;
    }
    .firefly-mobile-img {
        width: 37px;
        height: 24px;
    }
    #hamburger-menu > div {
        width: 26px;
        height: 2px;
        background-color: #fdd834;
        margin: 6px 0;
    }
} 

@media (max-width: 350px) {
    .container {
        max-width: 330px;
    }
}













