/*universal selectors*/
body {
    margin: 0;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 35px;
    background:#fbb214;
    border: 0;
    font-weight: 500;
    border-radius: 10px;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 20px;
    color: #35424a;
}

.dark {
    background:#35424a;
    color: floralwhite;
}

/*header*/
header {
    background:#35424a;
    height: 160px;
    border-bottom: #fdbf34 3px solid;
}

header h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.banner {
    color: #F5F5F5;
    font-size: 70px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 2px;
    padding-top: 40px;
    text-shadow: 2px 2px rgb(102, 125, 148);
    text-transform: uppercase;
}

.firefly-img {
    margin: 0 auto;
    padding: 60px 25px 0 29px;
}

.firefly-header {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #ccc;
    padding-right: 116px;
}

/*mobile styles*/
#mobile-nav-links li {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mobile-nav-links a {
    color: floralwhite;
    text-transform: uppercase;
    font-size: 22px;
    padding-bottom: 5px;
    transition: opacity 3s ease-in;
}

.mobile-nav-bar {
    display: none;
}

.mobile-nav-bar {
    border-bottom: #fdbf34 3px solid;
}

.mobile-nav-item a:hover {
        background-color: #F5F5F5;
        font-weight: bold;
}
    
#hamburger-menu {
    margin: 15px auto 10px 15px;
    cursor: pointer;
}

#hamburger-menu > div {
    width: 35px;
    height: 5px;
    background-color: #F5F5F5;
    margin: 6px 0;
}

#hamburger-menu.active > div {
    background-color: #fdbf34;
}

/*nav-bar*/
.large-screen-nav-bar {
    display: block;
}

.nav-bar {
    font: 50px/1.5 sans-serif, Helvetica, sans-serif;
    width:100%;
    box-shadow: 0 2px 2px #535353;
    background-color: rgb(102, 125, 148);
}

.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
}

.nav-bar a {
    display: flex;
    color:floralwhite;
    text-transform: uppercase;
    font-size: 21px;
    padding: 5px;
}

.nav-bar .current a { 
    font-weight: bold;
}

.nav-bar a:hover {
    color: #fdbf34;
    transition: all 0.4s ease-in;
}

/*showcase*/
#showcase {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 99%;
    margin: 40px auto;
    border-radius: 10px;
}

#showcase img {
    max-width: 100%;
    border-radius: 0 10px 10px 0;
}

.showcase-text {
    border-radius: 10px 0 0 10px;
    background-color: #35424a;
    color: #F5F5F5;
    font-family: serif, 'Times New Roman';
    text-align: center;
}

h5 {
    font-size: 31px;
    margin: 50px 70px 30px 70px;
    line-height: 1.5;
}

/*4 insurance pics*/
.home-content-grid-container {
    display: grid;
    grid-template-areas: 
        "a a a a a a a"
        "b b b b c c c";
    grid-row-gap: 40px;
    transform: translate(-18px, 0);
}

#boxes {
    grid-area: a;
    display: flex; 
}

.box-container {
    padding: 0 17px;
}

#boxes img {
    box-sizing: border-box;
    display: flex;
    width:  250px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    border: 1px rgb(102, 125, 148) solid;
}

#boxes h3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    padding: 12px 0;
    background-color: rgb(102, 125, 148);
    color:floralwhite;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 26px;
    letter-spacing: 2px;
    box-shadow: 0 2px 2px #535353;
}

#boxes a {
    border-radius: 10px;
}

#boxes h3:hover {
    background-color: #ce9a2b;;;
    font-weight: bold;
    transition: all 0.4s ease-in;
}

/*welcome section*/
#welcome {
    grid-area: b;
    max-width: 610px;
    margin-right: 100px;
    padding-top: 18px;
    padding-right: 50px;
}

#welcome h2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size:35px;
    font-weight: 500;
    font-style: italic;
}

.welcome-knecht {
    padding-left: 12px;
    font-weight: 800;
}

#welcome p {
    text-align: center;
    font: 24px/1.5 Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    border-bottom: 1px #ccc solid;
}

/*quote form */
#sidebar {
    grid-area: c;
    justify-self: start;
}

#sidebar .dark {
    border-radius: 10px;
    padding: 25px 45px 17px 45px;
    width: 220px;
    margin-right: 40px;
}

#sidebar h2 {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto 10px auto;
    padding-bottom: 8px;
    font-size: 35px;
    color: #fdbf34;
    border-bottom: 1px #fefff04f solid;
    text-shadow: 2px 2px #000;
}

#sidebar label {
    font-size: 20px;
}

#sidebar input {
    padding: 7px;
    margin: 4px auto 20px auto;
    width: 93%;
}

#sidebar select {
    padding: 7px;
    width: 100%;
    margin: 4px auto 20px auto;
}

#sidebar textarea {
    width: 90%;
    padding: 12px;
    margin: 4px auto 0 auto;
}

#sidebar .button_1 {
    margin: 18px auto 5px auto; 
    display: block;
}

/*footer*/
footer {
    color:rgb(255, 250, 240);
    background-color:rgb(27, 31, 37);
    text-align: center;
    margin-top: 60px;
}

.footer-firefly {
    padding: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    border-top: 1px solid #9B9B9B;
    border-bottom: 1px solid #9B9B9B;
    font-size: 30px;
    margin-bottom: 15px;
}

.social-icons a {
    color: inherit;
    margin: 15px;
}

.footer-contact-wrap a {
    color: floralwhite;
}

.img-map {
    padding: 15px;
}

@media (max-width: 1340px) {
    .home-content-grid-container {
        grid-template-areas: 
            "a a a a c c c"
            "b b b b b b b";
    }
    .box-container {
        padding: 0;
    }
    #boxes {
        display: grid;
        grid-template: 290px 290px / 315px 315px;
        margin-right: auto;
        margin-left: auto;
        justify-items: center;
        transform: translate(76px, 0);
    }
    #boxes img {
        width: 280px;
    }
    #sidebar .dark {
        margin-right: 0;
        height: 495px;
        width: 270px;
    }
    #welcome {
        margin: 0 auto;
        padding-right: 0;
    }
}

@media (max-width: 1265px) {
    #sidebar .dark {
        width: 250px;
        margin-left: 40px;
    }
}

@media (max-width: 1165px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
    #email-form-container {
        height: 455px;
    }
    #sidebar .dark {
        width: 231px;
        height: 455px;
    }
    #showcase {
        grid-template-rows: 450px 150px;
        grid-template-areas: 
            "picture"
            "text";
    }
    .showcase-image {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        grid-area: picture;
    }
    #showcase .showcase-image {
        max-height: 450px;
        max-width: 100%;
        width: 900px;
    }
    .showcase-text {
        border-radius: 0 0 10px 10px;
        grid-area: text;
        border-top:#fdbf34 2px solid;
        width: 900px;
    }
    .showcase-text h5 {
        font-size: 30px;
        font-weight: 500;
        line-height: 1;
        margin: 25px auto;
    }
    .scroll-image {
        padding: 0;
        width: 200px;
    }
    #sidebar div {
        padding: 0;
    }
    #sidebar h2 {
        font-size: 35px;
        padding-bottom: 12px;
    }
    #boxes {
        display: grid;
        grid-template: 260px 260px / 250px 250px;
    }
    #boxes img {
        width:  230px;
        height: 180px;
        border-radius: 10px 10px 0 0;
    }
    #boxes h3 {
        width: 230px;
        margin: 0; 
    }
    .box-container {
        width: 260px;
    }
}

@media (max-width: 1000px) {
    .banner {
        font-size: 60px;
    }
    .box-container {
        width: 270px;
    }
    #boxes {
        grid-template: 260px 260px / 250px 250px;
    }
    #showcase {
        width: 700px;
        transform: translate(-100px);
    }
    
    #sidebar .dark {
        width: 225px;
        margin-left: 50px;
        height: 455px;
    }
    #sidebar h2 {
        font-size: 30px;
    }
}

@media (max-width: 930px) {
    #showcase {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        transform: translate(-128px);
    }
    #showcase > .showcase-image > img,
    #showcase > .showcase-text {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
    #showcase > .showcase-image {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        border-radius: 10px 10px 0 0;
    }
    #showcase > .showcase-image > img {
        border-radius: 10px 10px 0 0;  
    }
}

@media (max-width: 875px) {
    .home-content-grid-container {
        display: grid;
        grid-template-areas: 
            "a a a a"
            "a a a a"
            "b b b b" 
            "c c c c";
        grid-row-gap: 10px;
    }
    #boxes {
        justify-content: center;
        display: grid;
        grid-template: 330px 330px / 340px 340px;
        transform: translate(0, 0);
    }
    #boxes h3 {
        width: 320px;
    }
    #boxes img {
        justify-self: start;
        width: 320px;
        height: 255px;
    }
    footer {
        margin-top: 0;
    }
    /* #showcase {
        margin: 0px;
    } */
    #sidebar {
        background-image: url(../img/wood.jpg);
        background-repeat: no-repeat;
        width: 105%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    #sidebar .dark {
        justify-content: center;
        width: 240px;
        margin-left: 0;
        background:rgb(102, 125, 148);
        border: yellow 1px solid;
        border-radius: 30px;
    }
    #welcome {
        padding-top: 0;
        padding-right: 0;
    }
    #welcome p {
        padding-bottom: 10px;
    }

    #showcase > .showcase-image > img,
    #showcase > .showcase-text {
        width: 77%;
        margin-left: auto;
        margin-right: auto;
    }
    .showcase-text h5 {
        font-size: 28px;
    }
}

@media (max-width: 830px) {
    #showcase {
        max-width: 55%;
        margin-left: auto;
        margin-right: auto;
        transform: translate(-220px);
    }
}

/*ipad mini size*/
@media (max-width: 768px) {
    .banner {
        font-size: 55px;
        padding-top: 30px;
    }
    #boxes {
        display: grid;
        grid-template: 330px 330px / 340px 340px;
        transform: translate(-10px, 0);
    }
    #boxes img {
        width:  320px;
        height: 250px;
        border-radius: 10px 10px 0 0;
    }
    #boxes h3 {
        width: 320px;
        margin: 0; 
    }
    .firefly-img {
        height: 45px;
        width: 60px;
        padding: 40px 20px 0 20px;
    }
    .footer-firefly {
        padding: 15px;
    }
    header .firefly-header {
        display: none;
        justify-content: center;
        font-size: 18px;
        color: floralwhite;
        padding-right: 101px;
        margin-top: -8px;
    }
    header {
        padding-bottom: 45px;
        height: 75px;
    }
    .home-content-grid-container {
        padding-top: 25px;
    }
    .nav-bar ul {
        border-bottom: #fdbf34 3px solid;
    }
    .nav-bar {
        box-shadow: none;
    }
    #showcase > .showcase-image > img, #showcase > .showcase-text {
        width: 100%;
        margin: 0;
    }
    #showcase {
        margin: 0 auto;
    }
    .showcase-text h5 {
        padding-right: 30px;
    }
    .scroll-image {
        padding-right: 30px;
    }
}

@media (max-width: 730px) {
    .showcase-text h5 {
        padding-right: 55px;
    }
    .scroll-image {
        padding-right: 55px;
    }
}

@media (max-width: 685px) {
    .banner {
        font-size: 48px;
        padding-top: 25px;
    }
    /* #boxes {
        display: grid;
        grid-template: 240px 240px / 230px 230px;
    }
    #boxes img {
        width:  220px;
        height: 160px;
        border-radius: 10px 10px 0 0;
    }
    #boxes h3 {
        width: 220px;
        margin: 0; 
    } */
    header {
        height: 65px;
    }
    .firefly-img {
        height: 37px;
        width: 55px;
        padding: 40px 20px 0 20px;
    }
    .showcase-text h5 {
        padding-right: 70px;
    }
    .scroll-image {
        padding-right: 70px;
    }
}

@media (max-width: 450px) {
    .mobile-nav-bar {
        display: block;
        font: 50px/1.5 sans-serif, Helvetica, sans-serif;
        width:100vw;
        background-color: rgb(102, 125, 148);
        height: 60px;
        position: fixed;
        top: 0;
        transition: height .5s ease;
    }

    .mobile-nav-bar.open {
        height: 360px;
        transition: height .9s ease;
    }

    .hide {
        display: none;
    }
    .large-screen-nav-bar {
        display: none;
    }
    header {
        display: none;
    }
    header {
        font-size: 30px;
        text-align: center;
        padding-right: 0;
    }
}













